torch
numpy
gymnasium[classic-control,box2d] ; platform_system != "Windows" and platform_system != "Darwin"
gymnasium[classic-control] ; platform_system in ["Windows", "Darwin"]
Box2D ; platform_system in ["Windows", "Darwin"]
matplotlib
